{% extends 'base.html.twig' %}

{% block title %}Liste par catégorie{% endblock %}

{% block content %}  <h1>Liste des produits par catégorie</h1>

    <ul id="productByCat">
        {% for product in productByCatList %}
            <li><h3>{{ product.name }}</h3></li>
            <ul id="productByCatIndiv">
                <li>{{ product.description }}</li>
                <li>{{ product.isAvailable }}</li>
                <li>{{ product.nbProductsInStock }}</li>
                <li>{{ product.priceProduct }}</li>
                <li>{{ product.category.name }}</li>
            </ul>

        {% endfor %}
    </ul>

{% endblock %}
