{% extends 'base.html.twig' %}

{% block title %}Liste par catégorie{% endblock %}

{% block body %}  <h1>Liste des produits par catégorie</h1>

    <ul>
        {% for product in productByCatList %}
            <li>{{ product.name }}</li>
            <ul>
                <li>{{ product.description }}</li>
                <li>{{ product.isAvailable }}</li>
                <li>{{ product.nbProductsInStock }}</li>
                <li>{{ product.priceProduct }}</li>
                <li>{{ product.category.name }}</li>
            </ul>

        {% endfor %}
    </ul>

{% endblock %}
