{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block content %}
<h1>Liste des produits </h1>
    <ul id="listProducts">
        {% for product in productList %}
            <li><h3><a href="{{ path('editProduct', {'id':product.id })}}">{{ product.name }}</a></h3></li>
            <ul id="productIndiv">
                <li>{{ product.description }}</li>
                <li>{{ product.category.name }}</li>
                <li>{{ product.isAvailable }}</li>
                <li>{{ product.nbProductsInStock }}</li>
                <li>{{ product.priceProduct }}</li>
            </ul>

        {% endfor %}
    </ul>

{% endblock %}
