<ul id="menu">
    <li><a href="{{ path('menu')}}">Accueil</a></li>
    <li><a href="{{ path('product') }}">Liste des produits</a></li>
    <li><a href="{{ path('productsByCategory', {'category':71 })}}">Catégorie musique</a></li>
    <li><a href="{{ path('productsByCategory', {'category':69 })}}">Catégorie sport</a></li>
    <li><a href="{{ path('productsByCategory', {'category':72 })}}">Catégorie cinéma</a></li>
    <li><a href="{{ path('productsByCategory', {'category':70 })}}">Catégorie ITech</a></li>
</ul>